<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="gx-4 gx-lg-5 aign-items-center my-2" style="height: 900px; background-size: cover; background-repeat: no-repeat; background-image: url('https://cdn.pixabay.com/photo/2020/03/21/02/26/pizza-4952509__340.jpg');">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5" style="color: White;">CHOI GREEN TABLE</h1>
                        <p style="color: White;">Pizza, Pasta, Rissoto, Pilaf, Salad and Drinks</p>
                    </div>
                </div>
            </div>
</div>
{% endblock %}
</body>
</html>
