<body>
{% extends 'base.html' %}
{% block content %}
<!-- Page Content-->
<div class="container col gx-4 gx-lg-5"style="background-color: Ivory; ">
    <!-- Heading Row-->
    {% if content_list %}
        {% for content in content_list %}
          <div id="main" class="row gx-4 gx-lg-5 aign-items-center my-2">
              <div id="main-img" class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg"alt="..."style="width:900px; height:400px;"/></div>
                <div class="col-lg-5"style="margin-top: 40px;">
                    <h1> <a id="mainTitle" style="margin: 10px;">{{ content.title }}</a></h1>
                    <p><a id="mainex">{{ content.content | truncatewords:30}}</p>
                    <a id="pressB" class="btn btn-primary btn-sm" type="button" style="margin-top: 20px;font-size: 20px;"  href="{% url 'detail' content.id %}">Detail Explanation</a>
                </div>
          </div>
        {% endfor %}
    {% else %}
        <p>content가 없습니다.</p>
    {% endif %}
            <!-- Call to Action-->
            <div class="card text-dark col text-center"style="background-color: Ivory; border: White;">
                <div class="card-body"><p class="text-dark m-0" style="background-color: LightYellow; color: DimGrey; font-style: italic;">~Update will be continue~</p></div>
            </div>
        </div>

        <!-- Content Row-->
        <div id="contents" class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Event 1</h2>
                            <p class="card-text">2021.10.22~</br>Solve problem in BaekJoon or Programmers one by one</p>
                        </div>
                        <div class="card-footer"><a id="press1" class="btn btn-primary btn-sm" href="https://github.com/gaeun6883/mentoring">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Event 2</h2>
                            <p class="card-text" style="height: 40px;">2021.1.27~2022.1.24</br>Make website</p>
                        </div>
                        <div class="card-footer"><a id="press2" class="btn btn-primary btn-sm" href="https://github.com/gaeun6883/2021.bootcamp">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">What is Next?</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a id="press3" class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
         {% endblock %}
</body>