        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-md">
            <div class="container px-5">
                <a id="logo" class="navbar-brand" href="http://localhost:8000/company/">Choi Green Table</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a id="home" class="nav-link active" aria-current="page" href="http://localhost:8000/">Home</a></li>
                        <li class="nav-item"><a id="product" class="nav-link active" aria-current="page" href="http://localhost:8000/mysite/">Product</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a id="login" class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (logout)</a></li>
                        {% else %}
                        <li class="nav-item"><a id="logout" class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    <style>
        nav{
        height: 90px;
        background-color: White;
        font-weight: light;
        }
        a#logo:link {
        font-size: 50px;
        font-family: Bookman Old Style;
        font-weight: bold;
        color : Tan;
        }
        a#logo:visited {
        color : Tan;
        }
        a#logo:hover {
        color : Wheat;
        }
         div#contents {
        box-sizing: border-box;
        margin:50px;
        }

        div#main{
        box-sizing: border-box;
        margin: 100px;
        }

        a#pressB {
        background-color: Wheat;
        border-style: solid;
        border-width: 3px;
        border-color: Wheat;
        color : White;
        }
        a#pressB:hover {
        background-color : Burlywood;
        border-color: Burlywood;
        }
        a#press1 {
        background-color: Wheat;
        border-style: solid;
        border-width: 3px;
        border-color: Wheat;
        color : White;
        }
        a#press1:hover {
        background-color : Burlywood;
        border-color: Burlywood;
        }

        a#press2 {
        background-color: Wheat;
        border-style: solid;
        border-width: 3px;
        border-color: Wheat;
        color : White;
        }
        a#press2:hover {
        background-color : Burlywood;
        border-color: Burlywood;
        }

        a#press3 {
        background-color: Wheat;
        border-style: solid;
        border-width: 3px;
        border-color: Wheat;
        color : White;
        }
        a#press3:hover {
        background-color : Burlywood;
        border-color: Burlywood;
        }

        div#main-img{
        top: 40px;
        }
        a#mainTitle{
        color: Burlywood;
        font-size: 60px;
        font-style:italic;
        }

        a#mainex{
        font-size: 20px;
        }

        a#home {
        color: DimGrey;
        font-size: 20px;
        }
        a#home:hover {
        color: black;
        font-style: italic;
        font-weight: bold;
        }
        a#product {
        color: DimGrey;
        font-size: 20px;
        }
        a#product:hover {
        color: black;
        font-style: italic;
        font-weight: bold;
        }
        a#login {
        color: DimGrey;
        font-size: 20px;
        }
        a#lohin:hover {
        color: black;
        font-style: italic;
        font-weight: bold;
        }
        a#logout {
        color: DimGrey;
        font-size: 20px;
        }
        a#logout:hover {
        color: black;
        font-style: italic;
        font-weight: bold;
        }

        div#loginBox{
        background-color: Ivory;
        width: 800px;
        height: 900px;
        border: 9px double Tan;
        margin-top: 30px;
        margin-bottom: 40px;
        }

        a#signup:hover {
        font-style:italic;
        font-weight: bold;
        text-decoration-line: none;
        }
    </style>